.slider-container {
  background: linear-gradient(180deg, $c-gray-background-page 65%, $c-white 65%);
  overflow: hidden;
  padding-bottom: 47px;
  position: relative;

  @include breakpoint($bp-small) {
    $stop: 604px;
    background: linear-gradient(180deg, $c-gray-background-page $stop, $c-white $stop);
    padding-bottom: 112px;
    padding-top: 80px;
    width: 100%;
  }

  .field-text {
    @include wrapper;
    padding: 37px 16px 19px;

    @include breakpoint($bp-xl) {
      max-width: 1280px;
      padding: 0;
    }

    h2 {
      @include fs-paragraph-title-small;
      margin-bottom: 20px;

      @include breakpoint($bp-small){
        @include fs-paragraph-title;
        margin-bottom: 16px;
      }

      em {
        font-family: $font-helvetica-neue-italic;
        font-style: normal;
        margin-left: -5px;
        margin-right: 5px;
      }
    }

    .text-cols {

      @include breakpoint($bp-large) {
        display: flex;
      }
    }

    p {
      @include fs-body;

      @include breakpoint($bp-small){
        @include fs-paragraph-subtitle;
        flex-grow: 1;
        float: left;
        width: calc(100% - 195px);
      }
    }

    p:last-child {

      @include breakpoint($bp-small) {
        text-align: right;
        float: right;
        min-width: 175px;
        width: auto;
        white-space: nowrap;
      }
    }
  }
}

.field-slides.slick-slider {
  @include slick-buttons;
  clear: both;
  margin: 0 auto;
  padding-left: 16px;
  position: static;
  width: 125%;

  @include breakpoint($bp-small) {
    margin-top: 32px;
    max-width: 1302px;
    width: 100%;
  }

  @include breakpoint(1500px) {
    padding-left: 0;
  }
}

.paragraph-slide {
  max-width: calc(100% - 22px);
  position: relative;

  // Hover style.
  &:hover {
    .field-title,
    .paragraph-slide--cta-title {
      color: $c-teal;
    }
  }
  // End Hover style.

  .field-title {
    @include fs-h2-card-small;
    color: $c-navy;
    margin-bottom: 10px;

    @include breakpoint($bp-small) {
      @include fs-h2-card;
    }
  }

  .paragraph-slide--cta-title {
    @include fs-cta-small;
    color: $c-teal;

    @include breakpoint($bp-small) {
      @include fs-cta;
    }
  }
}

.paragraph-slide--text {
  @include transition;
  background: $c-white;
  margin-top: -41px;
  padding: 40px 20px 0 5px;
  position: relative;
  width: calc(100% - 41px);

  @include breakpoint($bp-small) {
    padding-left: 15px;
  }

  .paragraph-slide:hover & {
    margin-top: -61px;
    padding-bottom: 20px;
  }
}
