// Code in this file was pulled from UCSF main. Could use clean up and refactoring.
.vertical-tab__paragraph-title {
  background: $c-gray-background-page;
  padding: 0 17px 37px;

  @include fs-paragraph-title-small;
  @include breakpoint($bp-small) {
    @include fs-paragraph-title;
  }
}

.vertical-tab {
  padding: 20px;

  @include breakpoint($bp-medium) {
     padding: 80px;
   }

   @include breakpoint($bp-large) {
     padding-top: 80px;
     padding-right: 110px;
     padding-left: 110px;
     padding-bottom: 80px;
   }
}

.layout-left-30-70 {
  max-width: 1440px;
  margin: 0 auto;

  .field-column-30 { // PL: .layout-30
    float: left;
    width: 30%;

    .paragraph-text-block > :first-child {
      margin-top: 0;
      padding-top: 0;
    }

    .paragraph-text-block > :last-child {
      margin-bottom: 0;
      padding-bottom: 0;
    }
  }

  .field-column-70 { // PL: .layout-70
    float: right;
    width: 70%;
    padding-left: 80px;

    .paragraph-text-block > :first-child {
      margin-top: 0;
      padding-top: 0;
    }

    .paragraph-text-block > :last-child {
      margin-bottom: 0;
      padding-bottom: 0;
    }
  }
}

.vertical-tab {
  h2 {
    font-family: $font-helvetica-neue-medium;
    font-size: 18px;
    letter-spacing: -.2px;
    margin: 16px 0;
  }

  .vertical-tab__title {
    display: inline-block;
    float: left;
    margin: 0;
    padding: 0;
    padding-right: 50px;

    li {
      list-style-type: none;
      margin: auto 0;
      outline: 0;
      text-decoration: none;

      a {
        background-color: $c-white;
        padding:16px 32px;
        cursor: pointer;
        display: block;
        border-bottom: 1px solid $c-gray-lightest;
        text-decoration: none;
        font-family: $font-helvetica-neue-medium;
        color: $c-navy;

        &:focus {
          outline: none;
        }
      }

      &[aria-selected="true"] a {
        @include background-image('vertical-tab-highlight.png', left center, $c-white);
        color: $c-teal;
        border-top: 0;
        border-bottom: 0;
        position: relative;
        background-size: 100% 100%;
        min-height: 64px;
        margin-right: -50px;
        margin-top: -1px;
        padding-bottom: 24px;
      }
    }

    li:first-child {
      &[aria-selected="true"] a {
        margin-top: 0;
      }
    }

    li:last-child {
      a {
        border-bottom-left-radius: 0;
      }
    }
  }

  .cta-list, .ext-list { // PL: .vertical-tab__content
    background-color: $c-white;
    min-height: 15em;
    padding-top: 0;
  }
}

.field-tab-content {
  display: block;
}

// Accordions
h3.js-accordion-header {
  border-top: 1px solid $c-gray-accordion-border;
  color: $c-black;
  font-size: 20px;
  padding: 30px 0;
  padding-right: 45px;
  padding-left: 15px;
  position: relative;
  margin-bottom: 0;

  &:after {
    @include background-image('angle.svg', left center);
    @include transition;
    content: ' ';
    display: block;
    height: 10px;
    transform: rotate(-90deg);
    width: 15px;
    position: absolute;
    right: 20px;
    top: 50%;
  }

  &.ui-accordion-header-active:after {
    transform: rotate(0deg);
  }

  &:hover {
    color: $c-teal;
    cursor: pointer;
  }
}

.ui-accordion-header-icon {
  padding-right: 15px;
  display: none;
}

.js-accordion-body {
  margin-left: 30px;

  &[style] {
    height: auto !important; // hacky quickfix.
  }
}
