.paragraph-hero {
  position: relative;

  @include breakpoint($bp-until-small) {
    background: none !important;
  }

  @include breakpoint($bp-small) {
    @include background-image('home-hero-still.jpg');
    min-height: 682px;
  }

  h1,
  h3 {
    @include fs-h1-g-small;
    margin-bottom: 24px;

    @include breakpoint($bp-small) {
      @include fs-h1-g;
      color: $c-white;
    }
  }

  p {
    @include breakpoint($bp-small) {
      color: $c-white;
      font-size: 24px;
    }
  }

  .field-cta {
    text-align: left;

    a {
      @include button;
    }
  }

  .media--type-remote-video {
    height: 0;
    overflow: hidden;
  }
}

.paragraph-hero--text-contain {
  @include wrapper;

  @include breakpoint($bp-small) {
    padding-top: 24%;
  }

  @include breakpoint($bp-large) {
    padding-top: 166px;
  }
}

.paragraph-hero--image-position {
  position: relative;

  @include breakpoint($bp-small) {
    float: right;
  }
}

.paragraph-hero--background {

  img {
    @include breakpoint($bp-small) {
      display: none;
    }
  }
}

.paragraph-hero--play {
  @include background-image('play.svg');
  background-size: 77px;
  display: block;
  height: 77px;
  left: calc(50% - 38.5px);
  position: absolute;
  top: calc(50% - 38.5px);
  width: 77px;
  text-indent: -9999px;

  @include breakpoint($bp-small) {
    background-size: 184px 184px;
    height: 184px;
    left: auto;
    position: relative;
    right: 43%;
    width: 184px;
  }

  @include breakpoint($bp-large) {
    right: 200%;
  }

  &:hover {
    @include background-image('play-hover.svg');
  }
}

.paragraph-hero--text {
  background: $c-white;
  float: left;
  margin-right: 20px;
  margin-top: -20px;
  padding: 16px 16px 50px;
  position: relative;
  width: calc(100% - 20px);

  @include breakpoint($bp-small) {
    background: none;
    float: left;
    margin: 0;
    max-width: 545px;
    padding-bottom: 16px;
    position: relative;
  }
}

// Responsive video in colorbox.
#cboxWrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
  width: 100%;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
