<div class="paragraph-slide">
  <a class="" href="{{ paragraph.field_cta.0.url }}">
    {{ content.field_media }}
    <div class="paragraph-slide--text">
     {{ content.field_title }}
      <div class="paragraph-slide--cta-title">{{ paragraph.field_cta.title }}
        {% include directory ~ '/assets/images/arrow.svg' %}
      </div>
    </div>
  </a>
</div>
