{% set classes = [
  'paragraph--type--slider',
] %}

{{ attach_library('ucsf/slick_slider') }}
<div{{ attributes.addClass(classes) }}>
  <div class="slider-container">
  {{ content }}
  </div>
</div>

